{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="keyua-screen index">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu">
                        <div class="logo text-center">
                            <a href="/">
                                <img src="{% static 'images/portal/keyua-logo.png' %}" alt="KeyUa" />
                            </a>
                        </div>
                    </div><!-- .menu -->

                    <div class="clear"></div>

                    <div class="text-promo show-after-1s text-center">
                        <h1 class="title">404</h1>
                        <p class="sub-title">The page you are looking for can't be found</p>

                        <div class="buttons">
                            <a href="/" class="green-button width280">Home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .keyua-screen -->
{% endblock content %}