{% extends 'base_outer.html' %}
{% load static %}

{% block js %}
	{% if not bad_invite %}
		<script type="text/javascript">
			var RESET_REQUEST_KEY = "{{ reset_key }}",
				RESET_PASSWORD_URL = "{% url 'inauth-reset-password' %}",
				NEXT_URL = "{% url 'landing' %}";
		</script>
		<script type="text/javascript" src="{% static 'js/src/validator.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/src/forms/resetPassword.vue.js' %}"></script>
	{% endif %}
{% endblock js %}

{% block content %}
	<div class="content">
		<div class="outer-wrap center">
			<div class="logo">
				<a href="/"><img src="{% static 'images/landing/logo.png' %}" title="Incheck.Site" /></a>
			</div>
			<div class="logo-text">
				Incheck is a professional resource for site owners and system administrators.
			</div>

			<div class="form">
				{% verbatim %}
				<div id="resetPassword">
					<div>
						<label>New Password:</label>
                        <div v-if="!passwordErrors[0]" class="form-hint">
                            <transition-group name="fade">
                                <span v-for="(error, index) in passwordErrors[1]" :key="index">
                                    {{ error[1] }}
                                </span>
                            </transition-group>
                        </div>
                        <div class="input-wrapper">
							<input type="password" v-model="password" type="password" />
							<i v-show="passwordErrors[0]" class="valid-input"></i>
						</div>
					</div>

					<div>
						<label>Repeat Password:</label>
                        <div v-if="!repeatPasswordErrors[0]" class="form-hint">
                            <transition-group name="fade">
                                <span v-for="(error, index) in repeatPasswordErrors[1]" :key="index">
                                    {{ error[1] }}
                                </span>
                            </transition-group>
                        </div>
                        <div class="input-wrapper">
							<input type="password" v-model="repeatPassword" />
							<i v-show="repeatPasswordErrors[0]" class="valid-input"></i>
						</div>
					</div>
					<div class="actions">
	                    <button
	                        :disabled="!isFormValid"
	                        @click="sendForm"
	                  	>Send</button>
					</div>
				</div>
				{% endverbatim %}				
			</div>
		</div>
	</div>
{% endblock content %}