{% load static %}
{% load i18n %}

<div id="{{ component.unique_id }}" class="keyua-screen articles">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="menu">
                    <div class="logo pull-left">
                        <a href="/">
                            <img src="{% static 'images/portal/keyua-logo-white.png' %}" alt="KeyUa" />
                        </a>
                    </div>
                    <div class="links pull-left">
                        <ul class="ul-inline">
                            {% for page in pages %}
                                {% if not page.is_index %}
                                    <li><a href="{{ page.url }}" {% if page.id == current_page.id %}class="active"{% endif %}>{{ page.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="button pull-right">
                        <a href="/contacts/" class="green-button height40">
                            {% trans 'Get a Quote' %}
                        </a>
                    </div>
                </div><!-- .menu -->

                <div class="clear"></div>

                <div class="text-promo show-after-1s">
                    <div class="page-breadcrumbs">
                        <a href="/">Keyua</a> <span>/</span> <a href="/blog/">{% trans 'Blog' %}</a> <span>/</span> <span>{{ current_cat.title }}</span>
                    </div>
                    <h1 class="title">
                        {{ current_cat.title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .keyua-screen -->
<div class="our-competences relative">
    <div class="container-fluid">
        <div class="blog-filters">
            <div class="row">
                <div class="col-md-9">
                    <ul class="ul-inline">
                        {% for cat_page in categories %}
                            <li>
                                <a href="{{ cat_page.get_url }}" {% if current_cat.id == cat_page.id %}class="active"{% endif %}>
                                    {{ cat_page.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    {% if marked_category %}
                        <a href="{{ marked_category.get_url }}" class="green-button">
                            {{ marked_category.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div> <!-- .blog-filters -->

        <blog-carousel></blog-carousel>
    </div>
</div> <!-- .our-competences -->